<h1>Relação de Gerentes</h1><br>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Nome</th>
            <th>Total Clientes</th>
            <th>Saldos +</th>
            <th>Saldos -</th>
            <th class="text-center">
                <a [routerLink]="['']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let manager of managers">
            <td>{{manager.name}}</td>
            <td>{{manager.clientsNumber}}</td>
            <td>{{manager.positiveBalances}}</td>
            <td>{{manager.negativeBalances}}</td>
            <td class="text-center" style="width: 300px">
                <a href="#" title="Aprovar" alt="Aprovar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>
                <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger"
                    >
                    <i class="fa fa-times" aria-hidden="true"></i>Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="managers.length==0">Nenhum Gerente Cadastrado</p>
