<div class="card">
    <div class="card-header">
        <h3>Cliente: {{client.name}}</h3>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center border-end w-100 align-items-center">
                <p class="h3">Meu Saldo:</p>
            </div>
            <div class="d-flex flex-column w-100 align-items-center">
                <a href="#" class="btn btn-light border border-secondary mb-2 w-50">Saque</a>
                <a href="#" class="btn btn-light border border-secondary mb-2 w-50">Depositar</a>
                <a href="#" class="btn btn-light border border-secondary mb-2 w-50">Transferência</a>
                <a href="#" class="btn btn-light border border-secondary mb-2 w-50">Consultar Extrato</a>
            </div>
        </div>
    </div>
</div>